
*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
footer{
     background-color: #71C8F1;
     position: relative;
     width: 100%;
     min-height: 35px;
     padding: 2rem;
}
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    font-family: poppins;
    margin-inline-start: 50px;
}

.col .logo{
    width: 170px;
    margin-top:15px;
   margin-left: auto;
   margin-right: 90px;
}
.col .links a{
    display: block;
    text-decoration: none;
    color: #333333;
    margin-bottom: 7px;
    position: relative;
}
.col .contact-details{
    color:#333333;
    display:block;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 50px;
    margin-bottom: 25px;
}
.col .company.logo{
    height: 50px;
    width: 50px;
}


